html, head, body {
  box-sizing: border-box;
}

.container{
  /* width: 100%; */
  background-color: red;
  display: flex;
  flex-direction: column;
}
#id1{
  background-color: aqua;
  flex: 2;
  text-align: center;
  position: relative;
}
#id2 , #id3{
  background-color: gold;
  flex: 5;  
  text-align: center;
  line-height: 100px;
}
#id4{
  background-color: hotpink;
  flex: 2;
  line-height: 31.81px;
}
#id5{
  background-color: orange;
  flex: 8;
}
img{
  vertical-align: middle;
  padding: 15px;
  width: 25%;
}
.btn.btn-outline-danger{
  float: right;
}